<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>


  </style>
</head>
<body>



<div class="container">
<h1>Editing User: <%= @user.name %></h1>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="text-center">
    </div>
  </div>
  <div class="col-md-9 personal-info">
    <h3>Personal info</h3>

<form class="form-horizontal" role="form" action="/users/<%= @user.id %>" method="post">
  <div class="form-group">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	
		<label class="col-lg-3 control-label" for="email">Email</label>
		<div class="col-lg-8">
		<input class="form-control" id="email" type="email" name="user[email]" value="<%= @user.email %>">
		</div>
	  </div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label" for="name">Name</label>
		<div class="col-lg-8">
		<input class="form-control" id="name" type="text" name="user[name]" value="<%= @user.name %>">
		</div>
	</div>
	
	
	<button class="btn btn-primary" type="submit">Edit Profile</button>
</form>
<br>
<a class="btn btn-warning" href="/users/<%= @user.id %>">Back</a>
<p></p>

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete Account</button>
  </form>